
Due 8/04/17
Expense Reimbursement System (ERS) - Presentation Monday - 08/04/2017
-LOGIN PORTAL PAGE
	-An Employee can login / -A Manager can login
	-An Employee can logout / -A Manager can logout


-An Employee can view the Employee Homepage
----An Employee can submit a reimbursement request
	    exec insert_reimbursement(1,  212, 1, 'test', TO_DATE('2009-1-1 00:00:00','yyyy-mm-dd hh24:mi:ss'), null, null, null, 1, 'type desc', 'status desc');
----An Employee can upload an image of his/her receipt as part of the reimbursement request (hard / do last)
	    update--exec insert_reimbursement(1,  212, 1, 'test', TO_DATE('2009-1-1 00:00:00','yyyy-mm-dd hh24:mi:ss'), null, null, null, 1, 'type desc', 'status desc');

----An Employee can view their pending reimbursement requests
		select reimbursement_id, (staff_first_name || ' ' || staff_last_name) as reimbursement_staff_requestee, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, reimbursement_approve_by, reimbursement_status_desc as reimbursement_status, 
		reimbursement_type_description as reimbursement_type 
		from 
		(select reimbursement_id, reimbursement_staff_id, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, (staff_first_name || ' ' || staff_last_name) as reimbursement_approve_by, reimbursement_status_desc, 
		reimbursement_type_description from reimbursement
		left join reimbursement_type on reimbursement_type = reimbursement_type_id   
		left join reimbursement_status on reimbursement_pending = reimbursement_status_id
		left join staff on staff_id = reimbursement_approve_by where reimbursement_status_desc = 'PENDING')
		left join staff on staff_id = reimbursement_staff_id where reimbursement_status_desc = 'PENDING' and reimbursement_staff_id = 2; 
----An Employee can view their resolved reimbursement requests
		select reimbursement_id, (staff_first_name || ' ' || staff_last_name) as reimbursement_staff_requestee, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, reimbursement_approve_by, reimbursement_status_desc as reimbursement_status, 
		reimbursement_type_description as reimbursement_type 
		from 
		(select reimbursement_id, reimbursement_staff_id, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, (staff_first_name || ' ' || staff_last_name) as reimbursement_approve_by, reimbursement_status_desc, 
		reimbursement_type_description from reimbursement
		left join reimbursement_type on reimbursement_type = reimbursement_type_id   
		left join reimbursement_status on reimbursement_pending = reimbursement_status_id
		left join staff on staff_id = reimbursement_approve_by where reimbursement_status_desc = 'RESOLVED')
		left join staff on staff_id = reimbursement_staff_id where reimbursement_status_desc = 'RESOLVED' and reimbursement_staff_id = 2; 
----An Employee can view their information
		select staff_username, staff_first_name, staff_last_name, staff_phone, staff_email, rank_description as staff_position from staff left join staff_rank on staff_rank = rank_id where staff_username = 'david';
----An Employee can update their information
		update_staff('user', 'password', 'firs_name', 'last_name', 'phone', 'email');
----An Employee receives an email when one of their reimbursement requests is resolved (optional)


-A Manager can view the Manager Homepage
----A Manager can approve/deny pending reimbursement requests
----A Manager can view all pending requests from all employees
		select reimbursement_id, (staff_first_name || ' ' || staff_last_name) as reimbursement_staff_requestee, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, reimbursement_approve_by, reimbursement_status_desc as reimbursement_status, 
		reimbursement_type_description as reimbursement_type 
		from 
		(select reimbursement_id, reimbursement_staff_id, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, (staff_first_name || ' ' || staff_last_name) as reimbursement_approve_by, reimbursement_status_desc, 
		reimbursement_type_description from reimbursement
		left join reimbursement_type on reimbursement_type = reimbursement_type_id   
		left join reimbursement_status on reimbursement_pending = reimbursement_status_id
		left join staff on staff_id = reimbursement_approve_by where reimbursement_status_desc = 'PENDING')
		left join staff on staff_id = reimbursement_staff_id where reimbursement_status_desc = 'PENDING'; -- and reimbursement_approve_by <> null;
	
----A Manager can view all resolved requests from all employees and see which manager resolved it
		select reimbursement_id, (staff_first_name || ' ' || staff_last_name) as reimbursement_staff_requestee, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, reimbursement_approve_by, reimbursement_status_desc as reimbursement_status, 
		reimbursement_type_description as reimbursement_type 
		from 
		(select reimbursement_id, reimbursement_staff_id, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, (staff_first_name || ' ' || staff_last_name) as reimbursement_approve_by, reimbursement_status_desc, 
		reimbursement_type_description from reimbursement
		left join reimbursement_type on reimbursement_type = reimbursement_type_id   
		left join reimbursement_status on reimbursement_pending = reimbursement_status_id
		left join staff on staff_id = reimbursement_approve_by where reimbursement_status_desc = 'RESOLVED')
		left join staff on staff_id = reimbursement_staff_id where reimbursement_status_desc = 'RESOLVED'; -- and reimbursement_approve_by <> null;
	
----A Manager can view reimbursement requests from a single Employee
		select reimbursement_id, (staff_first_name || ' ' || staff_last_name) as reimbursement_staff_requestee, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, reimbursement_approve_by, reimbursement_status_desc as reimbursement_status, 
		reimbursement_type_description as reimbursement_type 
		from 
		(select reimbursement_id, reimbursement_staff_id, reimbursement_amount, reimbursement_description,
		reimbursement_date_submitted, reimbursement_date_approved, (staff_first_name || ' ' || staff_last_name) as reimbursement_approve_by, reimbursement_status_desc, 
		reimbursement_type_description from reimbursement
		left join reimbursement_type on reimbursement_type = reimbursement_type_id   
		left join reimbursement_status on reimbursement_pending = reimbursement_status_id
		left join staff on staff_id = reimbursement_approve_by where reimbursement_staff_id = 1)
		left join staff on staff_id = reimbursement_staff_id where reimbursement_staff_id = 1; -- and reimbursement_approve_by <> null;

----A Manager can view all Employees
		select (staff_first_name || ' ' || staff_last_name) as staff_member, staff_phone, staff_email from staff;



	-A Manager can register an Employee, which sends the Employee an email with their username and temp password (optional)
	
	*-A Manager can view images of the receipts from reimbursement requests (hard /do last)

------------------------------------------------------------------

-An Employee can reset their password (Optional - tied with above functional requirement)

Technologies:
-Java 1.8
-JSPs (optional), JSTL(optional)
-Servlets
-JDBC
-SQL
-PL/SQL
-HTML/CSS/Javascript
-Bootstrap
-AJAX (required in atleast 2 functionalities)
-JUnit
-log4j

Environment:
-not Weblogic use TomCat
-Oracle 11g Database
-Eclipse/Spring Tools Suite
-SQL Developer